
.group-windy-weather {
    display: flex;
    flex-direction: column;
}
span {
    color: #999;
    font-weight: 300;
}

.description {
    text-transform: capitalize
}

.temperature-content {
    display: flex;
    justify-content: space-between;
    img {
        object-fit: contain
    }
}

.no-data {
    text-align: center
}

.card-content {
    margin: 10px;
}